<appSettings>
  <add key="PaypalOrderId" value="2P505906849346641" />
  <add key="PaypalPayerId" />
  <add key="PaypalClientId" value="AbunBKKpcTUeiZtgpRrYxTGqLi31qi70cT3bz2194UZbjmONqOjPgyBQksPhueZliFCNAd-VLDZjTO6b" />
  <add key="PaypalClientSecret" value="EAcSEtvFmf6GpEMKAg6uIQFhfq63ISbepIS3AKvXQTcBnWIqAGL8CL5CsBBfff6pEIuTrdKmgdu9Bum0" />
</appSettings>
